.App {
  font-family: sans-serif;
  text-align: center;
}

#gameBoard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 340px;
  height: 340px;
}

.square {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
}

.mole {
  background-image: url("images/mole.webp");
  background-size: cover;
}
